@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');

.fundoGro{
    background-image: url('../Imagens/GrowthFundo.png');
    width: 100vw;
    height: 100vh;
    background-size: cover;

}

.boxTitle{
    color: white;
    font-size: bold;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    background-color: #009edf;
    width: 200px;
    margin-top: 50px;
    padding-left: 20px;
    position: absolute;
    border-radius: 0px 10px 10px 0px  ;
}