.divS{
    background-color: #4499E8;
    width: 70vw;
    height: 25vh;
}

@media (max-width: 425px){
    .divS{
        width: 83vw;
        height: 20vh;
        margin-left: 8vw;
        margin-top: 5vh;
    }
}