.alim {
    background-image: url('../Imagens/Alimentos.png');
    width: 80vw;
    height: 25vh;
    background-size: cover;
    margin-left: 10vw;
    margin-top: 5vh;
    filter: opacity(69%);
    
}

.R{
    color: pink;
}

.textA{
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 20px;
    padding-left: 60px;
    padding-top: 25px;
    text-shadow: 5px 5px black;
    filter: opacity(100%);
}
 
@media (max-width: 425px){
    .alim{
        height: 20vh;
        border: 2px solid black;
        border-radius: 10px;
    }
    .R{
        color: red;
    }
}

@media (max-width: 375px){
    .alim{
        height: 10vh;
    }
    .R{
        color: orange;
    }
}