@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');

.fundoBar{
    background: #009edf;
    width: 100vw;
    height: 15vh;
    display: flex;
    
}

.title{
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    margin: 0;
    padding-top:2vh ;
    padding-left: 3vw;
}

.opn{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    color: white;
    padding-left: 17vw;
    padding-top: 2vh;
    cursor: pointer;
    color: white;
}


 .menu{
    z-index: 1;
    cursor: pointer;
    

}

.menu div{
    width: 35px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0.13,0.24,0.35,1.64);
}

.b1, .b2{
    margin-bottom:5px;
}


.menu.active .b1 {
    transform: translate(0,11px) rotate(45deg)
}
.menu.active .b2 {
    transform: translateX(-55px);
    background-color: transparent;
}
.menu.active .b3 {
    transform: translate(0,-7px) rotate(-45deg)
} 


.logo{
    color: rgb(255, 255, 255);
     font-size: 45px;
     padding-left: 29vw;
     padding-top: 3vh;
}

@media (max-width: 425px){
    .fundoBar{
        height: 8vh;
    }
    .title{
        padding-top: 0.5vh;
        
    }
    .logo{
        padding-top: 1.5vh;
        padding-left: 33vw;
    }
}


.divOp{
    width: 100vw;
    height: 20vh;
    background:none;
    position: absolute;
}

.listBtn{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;

    
}

.btn{
    width: 425px;
    height: 5vh;
    border: none;
    text-align: left;
    padding-left: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    opacity: 0;
    background-color: #009edf;
}

.btn:hover{
    background: #8AC7FF;
}